@model IEnumerable<RestaurantRaterBooking.Models.News>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<input type="hidden" id="itemID" />
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Image)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsPublish)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PostCategory)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<img src="@item.Image" width="50" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPublish)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PostCategory.Name)
				</td>
				<td>
					<a class="btn btn-outline-success mr-2" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
					@* <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
					<a class="btn btn-outline-danger deleteButton" href="#" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có chắc chắn muốn xóa bản ghi này không?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
	var IdToDelete;

	$(document).ready(function () {
		// Hiển thị modal xóa nhà hàng
		$('.deleteButton').click(function () {
			IdToDelete = $(this).data('id');
			$('#deleteConfirmationModal').modal('show');
		});

		// Xóa nhà hàng khi nhấn nút "Xóa" trên modal
		$('#confirmDeleteButton').click(function () {
			var url = '/Admin/News/Delete/' + IdToDelete;

			$.ajax({
				type: "POST",
				url: url,
				headers: {
					RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
				},
				success: function (data) {
					alert("Đã xóa thành công");
					location.reload();
				},
				error: function (data) {
					alert("Xóa thất bại");
				}
			});
		});
	});
</script>
