@model RestaurantRaterBooking.Models.Restaurant

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var relatedRestaurant = ViewData["RelatedRestaurant"] as List<Restaurant>;
	var restaurantRelatedImage = ViewData["RelatedRestaurantImages"] as Dictionary<Guid, string>;
	var restaurantImage = ViewData["RestaurantImage"] as string;
	string path = restaurantImage.Replace("\\", "/");
	var menuImage = ViewData["MenuImage"] as string;
	var imageJsonArray = Model.Images.Where(t => t.ImageType == ImageType.RestaurantImage).Select(image => new { src = image.ImagePath, w = 600, h = 743 }).ToArray();
	var MenuImageJsonArray = Model.Images.Where(t => t.ImageType == ImageType.MenuImage).Select(image => new { src = image.ImagePath, w = 600, h = 743 }).ToArray();

	var reviews = ViewData["Reviews"] as List<Review>;
}

<style>
	.page-banner::after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 0;
	}

	.page-banner-content, breadcrumb {
		position: relative;
		z-index: 1;
	}

	#gallery_02 img {
		border: 2px solid white;
	}

	.active img {
		border: 2px solid #333 !important;
	}
</style>

<!--====== Page Banner Start ======-->

<section class="page-banner bg_cover" style="height: 680px;background-image: url(/@Url.Content(path));">
	<div class="container">
		<div class="page-banner-content text-center">
			<h2 class="title">@Model.Name</h2>
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item"><a href="shop-sidebar.html">Restaurant</a></li>
				<li class="breadcrumb-item"><a href="shop-sidebar.html">@Model.Category.Name</a></li>
				<li class="breadcrumb-item active">@Model.Name</li>
			</ol>
		</div>
	</div>o
</section>

<!--====== Page Banner Ends ======-->
<!--====== Product Simple Start ======-->

<section class="product-simple-area pt-20">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="product-simple-image flex-wrap mt-50">
					<button class="product-gallery-popup" data-hint="Click to enlarge" data-images='@Json.Serialize(imageJsonArray)'>
						<i class="far fa-search-plus"></i>
					</button>

					<div class="product-simple-preview-image">
						<img style="height: 257px; object-fit: cover; object-position: center; " class="product-zoom" src="/@restaurantImage" alt="">
					</div>
					<div id="gallery_01" class="product-simple-thumb-image">
						@foreach (var item in imageJsonArray)
						{
							<div class="single-product-thumb">
								<a class="active" href="#" data-image="/@item.src.Replace("\\", "/")">
									<img style="height: 53px; object-fit: cover; object-position: center;" src="/@item.src.Replace("\\","/")" alt="">
								</a>
							</div>
						}
					</div>

				</div>
			</div>

			<div class="col-lg-6">
				<div class="product-simple-details mt-50">
					<h4 class="title">@Model.Name</h4>
					<p class="sku-id">@Model.Address</p>

					<p class="review">
						@for (var i = 1; i <= 5; i++)
						{
							if (i <= Model.AverageRating)
							{
								<i class="fas fa-star star-fill" style="color: #ffd700;"></i>
							}
							else if (i - 0.5 <= Model.AverageRating)
							{
								<i class="fas fa-star-half-alt" style="color: #ffd700;"></i>
							}
							else
							{
								<i class="fas fa-star" style="color: #d3d3d3;"></i>
							}
						}
						<span class="ml-3 text-dark">@Model.AverageRating</span>
					</p>

					<p class="product-description pt-0">Thời gian: @Model.OpeningHour - @Model.ClosingHour</p>
					<p class="product-description pt-0 mt-0">Loại hình: <a href="">@Model.Category.Name</a></p>
					<div class="product-quantity-cart-wishlist-compare flex-wrap">
						<form action="#">
							<div class="product-cart">
								<a class="main-btn text-white text-decoration-none" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Book a table</a>
							</div>
						</form>
						<a href="#" data-bs-tooltip="tooltip" data-bs-placement="top" title="Add to Wishlist" class="product-wishlist"><i class="far fa-heart"></i></a>
					</div>

					<div class="product-description">
						<p style="color:#ef5619; font-size: 15px;">Các ưu đãi</p>
						<p>@Html.Raw(Model.Offer)</p>

						<p style="color:#ef5619; font-size: 15px;">Không gian</p>
						<p>@Html.Raw(Model.Space)</p>

						<p style="color:#ef5619; font-size: 15px;">Phù hợp</p>
						<p>@Html.Raw(Model.SuitableFor)</p>

						<p style="color:#ef5619; font-size: 15px;">Chỗ để xe</p>
						<p>@Html.Raw(Model.ParkingSpace)</p>

						<p class="text-danger" style="font-size: 15px;">* Lưu ý</p>
						<p>@Html.Raw(Model.Note)</p>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<div class="product-discription">
					<p style="color:#ef5619; font-size: 15px;">Món đặc sắc</p>
					<p>@Html.Raw(Model.SpecialDish)</p>

					<p style="color:#ef5619; font-size: 15px;">Điểm đặc trưng</p>
					<p>@Html.Raw(Model.SpecialFeature)</p>

					<p class="mt-3" style="color:#ef5619; font-size: 15px;">Các tiện ích khác</p>
					@{
						Func<bool, string> displayIcon = value => value ? "<i class='fas fa-check' style='color: green;'></i>" : "<i class='fas fa-times' style='color: #ef5619;'></i>";
					}
					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.ChildrenChair))
							<span class="ml-10">@Html.DisplayNameFor(model => model.ChildrenChair)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.Wifi))
							<span class="ml-10">@Html.DisplayNameFor(model => model.Wifi)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.AirConditioning))
							<span class="ml-10">@Html.DisplayNameFor(model => model.AirConditioning)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.VisaMasterCard))
							<span class="ml-10">@Html.DisplayNameFor(model => model.VisaMasterCard)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.VATInvoice))
							<span class="ml-10">@Html.DisplayNameFor(model => model.VATInvoice)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.PrivateRoom))
							<span class="ml-10">@Html.DisplayNameFor(model => model.PrivateRoom)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.ChildrenPlayArea))
							<span class="ml-10">@Html.DisplayNameFor(model => model.ChildrenPlayArea)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.SmokiingArea))
							<span class="ml-10">@Html.DisplayNameFor(model => model.SmokiingArea)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.DirectBill))
							<span class="ml-10">@Html.DisplayNameFor(model => model.DirectBill)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.Karaoke))
							<span class="ml-10">@Html.DisplayNameFor(model => model.Karaoke)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.Projector))
							<span class="ml-10">@Html.DisplayNameFor(model => model.Projector)</span>
						</div>
						<div class="col-6">
							@Html.Raw(displayIcon(Model.EnventDecoration))
							<span class="ml-10">@Html.DisplayNameFor(model => model.EnventDecoration)</span>
						</div>
					</div>

					<div class="row">
						<div class="col-6">
							@Html.Raw(displayIcon(Model.OutdoorTable))
							<span class="ml-10">@Html.DisplayNameFor(model => model.OutdoorTable)</span>
						</div>
					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						@foreach (var item in MenuImageJsonArray)
						{
							<div class="carousel-item active">
								<img src="/@item.src.Replace("\\","/")" class="d-block w-100" alt="...">
							</div>
						}
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
		</div>

		<div class="row">
			<p class="product-description">
				Tags:
				@foreach (var item in Model.RestaurantTags)
				{
					<span class="badge bg-secondary text-white" href="#">@item.Tag.Name</span>
				}
			</p>
			<div class="product-share">
				<ul class="social">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin"></i></a>
					<a href="#"><i class="fab fa-pinterest-p"></i></a>
				</ul>
			</div>
		</div>
	</div>
</section>

<!--====== Product Simple Ends ======-->
<!--====== Product Description & Review Start ======-->

<section class="product-description-review pt-150">
	<div class="container">
		<div class="product-simple-tab-menu">
			<ul class="nav justify-content-center">
				<li><a class="active" data-bs-toggle="tab" href="#description">Description</a></li>
				<li><a data-bs-toggle="tab" href="#review">Review</a></li>
			</ul>
		</div>
		<div class="tab-content pt-30">
			<div class="tab-pane fade show active" id="description">
				@Html.Raw(Model.Description)
			</div>
			<div class="tab-pane fade" id="review">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="product-review pt-20">
							<div class="review-comment">
								<ul class="comment">
									@foreach (var item in reviews)
									{
										<li>
											<div class="single-review-comment">
												<div class="review-author">
													@* <img src="/assets/images/auhtor-1.jpg" alt=""> *@
													<img src="/assets/hinhanh/person.png" alt="" />
												</div>
												<div class="review-content">
													<div class="review-name-rating mt-0">
														<div class="col">
															<h6 class="review-name">@item.User?.UserName</h6>
															<ul class="review-rating">
																@for (int i = 1; i <= 5; i++)
																{
																	<li class="@(i <= item.Rating ? "rating-on" : "rating-off")">
																		<i class="fas fa-star"></i>
																	</li>
																}
															</ul>
														</div>
														<p class="review-created-at">@item.CreatedAt.ToString("dd/MM/yyyy")</p>
													</div>
													<p style="white-space: pre-line;">"@item.Comment"</p>

													<!-- Hiển thị phần reply -->
													<div class="reply-section">
														@if (ViewData["Replies"] is Dictionary<Guid, List<Reply>> replies && replies.ContainsKey(item.Id))
														{
															var rep = replies[item.Id];

															foreach (var replyItem in rep)
															{
																<div class="card mt-2">
																	<div class="card-body">
																		<div class="w-100">
																			@* <p>@replyItem.ReplyAt</p> *@
																			<div class="review-name-rating mt-0">
																				<div class="col">
																					<h6 class="review-name">Phản hồi từ nhà hàng</h6>

																				</div>
																				<p>@replyItem.ReplyAt</p>
																			</div>
																			<p class="text-secondary mb-0">@replyItem.ReplyComment</p>
																		</div>
																	</div>
																</div>
															}
														}
													</div>
												</div>
											</div>
										</li>
									}
								</ul>
							</div>

							<div class="review-form mt-45">
								<h2 class="form-title">Add a review </h2>
								<form asp-controller="Restaurants" asp-action="CreateReview" method="post">
									<input type="hidden" name="restaurantId" value="@Model.Id" />
									<div class="rating-star">
										<div id="rating">
											<input type="radio" id="star5" name="rating" value="5" />
											<label class="full" for="star5" title="Awesome - 5 stars"></label>

											<input type="radio" id="star4" name="rating" value="4" />
											<label class="full" for="star4" title="Pretty good - 4 stars"></label>


											<input type="radio" id="star3" name="rating" value="3" />
											<label class="full" for="star3" title="Meh - 3 stars"></label>

											<input type="radio" id="star2" name="rating" value="2" />
											<label class="full" for="star2" title="Kinda bad - 2 stars"></label>

											<input type="radio" id="star1" name="rating" value="1" />
											<label class="full" for="star1" title="Sucks big time - 1 star"></label>
										</div>
										@* <input type="hidden" id="rating-input" name="rating" value="0"> *@
									</div>

									<div class="review-textarea">
										<textarea id="comment" name="comment"></textarea>
									</div>

									<div class="review-btn">
										<button type="submit" class="main-btn">Submit</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====== Product Description & Review Ends ======-->
<!--====== Related Products Start ======-->

<section class="product-area pt-160 pb-145">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<div class="section-title text-center">
					<h2 class="title">Related Products</h2>
				</div>
			</div>
		</div>
		<div class="row-wrapper product-active">
			@foreach (var item in relatedRestaurant)
			{
				<div class="custom-col">
					<div class="single-product mt-50">
						<div class="product-image">
							<div class="image">
								<img style="height: 268px; object-fit: cover; object-position: center; " class="product-1" src="/@restaurantRelatedImage[item.Id]" alt="product">
								@* <img class="product-2" src="/assets/images/product/product-8.jpg" alt="product"> *@
								<a class="link" href="product-simple-01.html"></a>
							</div>
							<ul class="product-meta text-center">
								<li><a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id"><i class="fal fa-search-plus"></i></a></li>
							</ul>
						</div>
						<div class="product-content d-flex justify-content-between">
							<div class="product-title">
								<h4 class="title"><a asp-controller="Restaurants" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h4>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>

<!--====== Related Products Ends ======-->
<!--====== Book a table Start ======-->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered modal-lg" style="width: 40%;">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger">Đặt bàn</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form asp-controller="Restaurants" asp-action="BookTable" method="post">
				<input type="hidden" name="restaurantId" value="@Model.Id" />
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Người lớn:</label>
									<input type="number" id="adults" name="adults" class="form-control" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Trẻ em:</label>
									<input type="number" id="children" name="children" class="form-control" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="reservationDate">Ngày đến:</label>
									<input type="date" id="bookingDate" name="bookingDate" class="form-control" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="reservationTime">Giờ đến:</label>
									<input type="time" id="bookingTime" name="bookingTime" class="form-control" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label for="reservationDate">Họ và tên:</label>
									<input type="text" id="name" name="name" class="form-control" required>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label for="reservationTime">Số điện thoại:</label>
									<input type="text" id="phomeNumber" name="phoneNumber" class="form-control" required>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="form-group">
								<lable>Ghi chú</lable>
								<textarea name="note" class="form-control"></textarea>
							</div>
						</div>
					</div>
					<p class="text-danger">*Lưu ý: Phí cho mỗi lượt đặt bàn là 100.000đ</p>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary" onclick="submitReservation()">Đặt bàn</button>
				</div>
			</form>
		</div>
	</div>
</div>

<!--====== Book a table Ends ======-->

<section>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
	<link href="~/css/rating.css" rel="stylesheet" />
</section>

<script>
	function calcRate(r) {
		const f = ~~r,//Tương tự Math.floor(r)
			id = 'star' + f + (r % f ? 'half' : '')
		id && (document.getElementById(id).checked = !0)
	}
</script>



