@{
	var pagedListRestaurants = ViewData["Restaurants"] as IPagedList<Restaurant>;
	var restaurantImages = ViewData["RestaurantImages"] as Dictionary<Guid, string>;
	var blogs = ViewData["Blogs"] as List<Blog>;
	var news = ViewData["News"] as List<News>;
	var categories = ViewData["Categories"] as List<Category>;
	var cities = ViewData["Cites"] as List<City>;
	var sliders = ViewData["Sliders"] as List<Slider>;
}
<style>
	.nav-item:hover .image-hover {
		border-color: #ef5619;
	}

	.pagination .page-item.active .page-link {
		background-color: black !important;
		border-color: black !important;
		color: white;
	}

	.pagination .page-item .page-link {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center !important;
	}
</style>

<!--====== Slider Start ======-->

<section class="slider-area slider-15 slider-active">
	@foreach (var item in sliders)
	{
		<div class="single-slider bg_cover d-flex align-items-center paroller"
			 style="background-image: url(@item.Image);" data-paroller-factor="-0.15"
			 data-paroller-type="foreground" data-paroller-direction="vertical">
		</div>
	}

</section>

<!--====== Slider Ends ======-->
<!--====== Search Start ======-->

<div class="header-navbar-8 d-none d-lg-block">
	<div class="header-navbar-main">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto">
					<form asp-area="" asp-controller="Restaurants" asp-action="Search" method="post">
						<div class="header-search d-flex">
							<div class="search-header-wrapper">
								<select id="resizing_select" name="cityID">
									<option value="0" selected="selected">All</option>
									@foreach (var city in cities)
									{
										<option class="level-0" value="@city.Id">@city.Name</option>
									}
								</select>
								<select id="width_tmp_select">
									<option id="width_tmp_option"></option>
								</select>
							</div>
							<div class="search-header-input">
								<input type="text" placeholder="Search here…" name="searchKeyword">
							</div>
							<div class="search-header-wrapper">
								<button type="submit"><i class="far fa-search"></i></button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!--====== Search Ends ======-->
<!--====== Restaurant Start ======-->

<section class="product-area pt-75 pb-70">

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title-6 text-center pb-30">
					<h2 class="title">Top Restaurants</h2>
					<p>Suspendisse non justo auctor lacinia justo</p>
				</div>
			</div>
		</div>
		<div class="product-menu">
			<div class="container">
				<ul class="nav justify-content-center">
					@foreach (var category in categories)
					{
						<li class="nav-item">
							<a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-id="@category.Id" class="nav-link">
								<div class="row align-items-center">
									<img style="width: 50px; height: 50px; border-radius: 50%; object-fit: contain; border: 1px solid black;" src="@category.Image" alt="@category.Name" class="mx-auto d-block mb-2 image-hover">
									<span class="text-center">@category.Name</span>
								</div>
							</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid custom-container-2">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="all">
				<div class="row">
					@foreach (var restaurant in pagedListRestaurants)
					{
						var restaurantImage = restaurantImages[restaurant.Id];
						<div class="col-lg-3 col-md-4 col-sm-6">
							<div class="single-product mt-50">
								<div class="product-image">
									<div class="image">
										<img class="product-1" style="height: 300px; object-fit: cover; object-position: center; " src="~/@restaurantImage">
										<a class="link" asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id"></a>
									</div>
									<ul class="product-meta text-center">
										<li><a data-bs-tooltip="tooltip" asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id"><i class="fal fa-search-plus"></i></a></li>
									</ul>
								</div>
								<div class="product-content d-flex flex-column align-items-center">
									<div class="mb-2 product-title">
										<h3 class="title"><a asp-controller="Restaurants" asp-action="Details" asp-route-id="@restaurant.Id">@restaurant.Name</a></h3>
									</div>
									<div class="d-flex align-items-center">
										<h4 class="title">@restaurant.AverageRating</h4>
										<div class="star-container" data-rating="@restaurant.AverageRating">
											@for (var i = 1; i <= 5; i++)
											{
												if (i <= restaurant.AverageRating)
												{
													<i class="fas fa-star star-fill" style="color: #ffd700;"></i>
												}
												else if (i - 0.5 <= restaurant.AverageRating)
												{
													<i class="fas fa-star-half-alt" style="color: #ffd700;"></i>
												}
												else
												{
													<i class="fas fa-star" style="color: #d3d3d3;"></i>
												}
											}
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>

		<div class="pagination-items pt-50">
			<ul class="pagination justify-content-center">
				@if (pagedListRestaurants.HasPreviousPage)
				{
					<li class="page-item">
						<a class="prev page-link" href="@Url.Action("Index", new { page = pagedListRestaurants.PageNumber - 1 })">Previous</a>
					</li>
				}

				@for (var i = 1; i <= pagedListRestaurants.PageCount; i++)
				{
					<li class="page-item @(i == pagedListRestaurants.PageNumber ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", new { page = i })" style="text-align: center;">@i</a>
					</li>
				}

				@if (pagedListRestaurants.HasNextPage)
				{
					<li class="page-item">
						<a class="next page-link" href="@Url.Action("Index", new { page = pagedListRestaurants.PageNumber + 1 })">Next</a>
					</li>
				}
			</ul>
		</div>
	</div>

</section>

<!--====== Restaurant Ends ======-->
<!--====== Counter Start ======-->

<div class="counter-area bg_cover" style="background-image: url(/assets/hinhanh/counter.png);">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<div class="single-counter">
					<div class="counter-icon">
						<img src="assets/images/icon/m13-i-1.png" alt="">
					</div>
					<div class="counter-content">
						<span style="font-size: 50px;" class="count"><span class="counter">@ViewData["NumberOfAccounts"]</span></span>
						<p style="font-size: 24px;">Người dùng</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-counter">
					<div class="counter-icon">
						<img src="assets/images/icon/m13-i-2.png" alt="">
					</div>
					<div class="counter-content">
						<span style="font-size: 50px;" class="count"><span class="counter">@ViewData["NumberOfRestaurants"]</span></span>
						<p style="font-size: 24px;">Nhà hàng</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-counter">
					<div class="counter-icon">
						<img src="assets/images/icon/m13-i-3.png" alt="">
					</div>
					<div class="counter-content">
						<span style="font-size: 50px;" class="count"><span class="counter">@ViewData["NumberOfReviews"]</span></span>
						<p style="font-size: 24px;">Lượt đánh giá</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<div class="single-counter">
					<div class="counter-icon">
						<img src="assets/images/icon/m13-i-4.png" alt="">
					</div>
					<div class="counter-content">
						<span style="font-size: 50px;" class="count"><span class="counter">@ViewData["NumberOfBookings"]</span></span>
						<p style="font-size: 24px;">Lượt đặt bàn</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--====== Counter Ends ======-->
<!--====== Blog Start ======-->

<section class="blog-area pt-50 pb-50">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title-6 text-center pb-30">
					<h2 class="title">Latest Blog</h2>
					<p>Suspendisse non justo auctor lacinia justo</p>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var blog in blogs)
			{
				<div class="col-md-6">
					<div class="single-blog mt-30">
						<div class="blog-image">
							<a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id">
								<img style="height: 304px; object-fit: cover; object-position: center; " src="@blog.Image" alt="blog">
								<i class="fal fa-search-plus"></i>
							</a>
							<ul class="blog-category-2">
								<li><a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id">@blog.PostCategory.Name</a></li>
							</ul>
						</div>
						<div class="blog-content text-center">
							<h4 class="title"><a asp-controller="Blogs" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h4>
							<ul class="blog-meta">
								<li><a href="#">By <span> @blog.CreatedBy</span></a></li>
								<li><a href="#"><i class="fal fa-clock"></i> @blog.CreatedAt</a></li>
							</ul>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>

<!--====== Blog Ends ======-->

<!--====== News Start ======-->

<section class="blog-area pt-50 pb-50">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8">
				<div class="section-title-6 text-center pb-30">
					<h2 class="title">Latest News</h2>
					<p>Suspendisse non justo auctor lacinia justo</p>
				</div>
			</div>
		</div>
		<div class="row">
			@foreach (var item in news)
			{
				<div class="col-md-6">
					<div class="single-blog mt-30">
						<div class="blog-image">
							<a asp-controller="News" asp-action="Details" asp-route-id="@item.Id">
								<img style="height: 304px; object-fit: cover; object-position: center; " src="@item.Image" alt="blog">
								<i class="fal fa-search-plus"></i>
							</a>
							<ul class="blog-category-2">
								<li><a asp-controller="News" asp-action="Details" asp-route-id="@item.Id">@item.PostCategory.Name</a></li>
							</ul>
						</div>
						<div class="blog-content text-center">
							<h4 class="title"><a asp-controller="News" asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h4>
							<ul class="blog-meta">
								<li><a href="#">By <span> @item.CreatedBy</span></a></li>
								<li><a href="#"><i class="fal fa-clock"></i> @item.CreatedAt</a></li>
							</ul>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</section>

<!--====== News Ends ======-->

<!--====== Features Start ======-->

<section class="features-area pt- pb-30">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="single-feature text-center mt-30">
					@* <i class="fal fa-truck-container"></i> *@
					<img style="width: 40px; height: 40px;" src="~/uploads/restaurant.png" />
					<h5 class="title">Chọn nhà hàng</h5>
					<p>Hàng trăm nhà hàng hấp dẫn</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-feature text-center mt-30">
					@* <i class="fal fa-life-ring"></i> *@
					<img style="width: 40px; height: 40px;" src="~/uploads/booking.png" />
					<h5 class="title">Đặt bàn online</h5>
					<p>Qua website nh3.com</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-feature text-center mt-30">
					@* <i class="fal fa-gift"></i> *@
					<img style="width: 40px; height: 40px;" src="~/uploads/checked.png" />
					<h5 class="title">Xác nhận</h5>
					<p>Kiểm tra trạng thái đơn đặt bàn</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="single-feature text-center mt-30">
					@* <i class="fal fa-user-friends"></i> *@
					<img style="width: 40px; height: 40px;" src="~/uploads/eat.png" />
					<h5 class="title">Thưởng thức</h5>
					<p>Thưởng thức bữa ăn ngon tại nhà hàng</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====== Features Ends ======-->

<section>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-TvIN9MR3EknjOY0ilZa4hVNQzBUbYF0Xf0Aq9U8CmOnzhbR5c5P+C6pu/wJBv+4BRlP3zozLwGTAV9p3MykJYg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</section>



