@using Microsoft.AspNetCore.Identity
@using RestaurantRaterBooking.Models

@inject SignInManager<RestaurantRaterBooking.Models.ApplicationUser> SignInManager
@inject UserManager<RestaurantRaterBooking.Models.ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<!-- Brand Logo -->
		<a href="index3.html" class="brand-link" style="text-align: center; display: block;">
			<img src="~/assets/hinhanh/logo-2.png" alt="Logo" class="brand-image elevation-3" style="opacity: .8; margin: 0 auto; margin-left: 60px;">
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="~/admin_assets/images/file-icons/restaurant/icons8-user-48.png" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<a href="#" class="d-block">@UserManager.GetUserName(User)</a>
				</div>
			</div>

			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item menu-open">
						<a asp-area="RestaurantUser" asp-controller="Home" asp-action="Index" class="nav-link">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							<p>
								Dashboard
							</p>
						</a>
					</li>
@* 
					<li class="nav-item">
						<a asp-area="RestaurantUser" asp-controller="Restaurants" asp-action="UpdateInfo" asp-route-id="@UserManager.GetUserId(User)" class="nav-link">
							<i class="nav-icon fas fa-info-circle"></i>
							<p>
								Thông tin nhà hàng
							</p>
						</a>
					</li>
 *@
					<li class="nav-item">
						<a asp-area="RestaurantUser" asp-controller="Restaurants" asp-action="Edit" asp-route-id="@UserManager.GetUserAsync(User).Result?.RestaurantID" class="nav-link">
							<i class="nav-icon fas fa-pencil-alt"></i>
							<p>
								Thông tin đăng tải
							</p>
						</a>
					</li>

					<li class="nav-item">
						<a asp-area="RestaurantUser" asp-controller="Restaurants" asp-action="ViewReviews" asp-route-restaurantId="@UserManager.GetUserAsync(User).Result?.RestaurantID" class="nav-link">
							<i class="nav-icon fas fa-comments"></i>
							<p>
								Đánh giá và phản hồi
							</p>
						</a>
					</li>

					<li class="nav-item">
						<a asp-area="RestaurantUser" asp-controller="Bookings" asp-action="Index" asp-route-restaurantId="@UserManager.GetUserAsync(User).Result?.RestaurantID" class="nav-link">
							<i class="nav-icon fas fa-calendar-alt"></i>
							<p>
								Quản lý đặt bàn
							</p>
						</a>
					</li>
				</ul>
			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>
}