@page
@model LoginModel

@{
	ViewData["Title"] = "Log in";
}
<!--====== Page Banner Start ======-->

<section class="page-banner bg_cover" style="background-image: url(/assets/hinhanh/1920_715.png);">
	<div class="container">
		<div class="page-banner-content text-center">
			<h2 class="title">Login</h2>
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item active">Login</li>
			</ol>
		</div>
	</div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Login Register Start ======-->

<section class="login-register-area pt-75 pb-80">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="login-register-content">
					<h4 class="title">Login to Your Account</h4>

					<div class="login-register-form">
						<form id="account" method="post">
							<div class="single-form">
								<label>Username or email address *</label>
								<input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com">
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="single-form mt-0">
								<label>Password</label>
								<input asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password" type="password">
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="single-form d-flex justify-content-between mt-0">
								<div class="checkbox">
									<input asp-for="Input.RememberMe" type="checkbox" id="remember">
									@Html.DisplayNameFor(m => m.Input.RememberMe)
									<label asp-for="Input.RememberMe"><span></span></label>
								</div>
								<div class="forget">
									<a id="forgot-password" asp-page="./ForgotPassword">Lost Your Password</a>
								</div>
							</div>
							<div class="single-form">
								<button class="main-btn d-block" id="login-submit" type="submit">Login</button>
							</div>
							<div class="single-form">
								<label>You don't have account ?</label>
								<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="main-btn main-btn-2 d-block">Create Account Now</a>
							</div>
							<div>
								<a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
							</div>
						</form>
					</div>
					<div class="mt-4">
						@if ((Model.ExternalLogins?.Count ?? 0) == 0)
						{
						}
						else
						{
							<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
								<div>
									<p class="d-flex justify-content-center">or login with</p>
									<p class="d-flex justify-content-center">
										@foreach (var provider in Model.ExternalLogins!)
										{
											<button type="submit" class="btn @(provider.Name == "Facebook" ? "btn-facebook" : provider.Name == "Google" ? "btn-google" : "btn-primary")" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
												<i class="fab fa-@(provider.Name.ToLower())"></i>
											</button>
										}
									</p>
								</div>
							</form>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====== Login Register Ends ======-->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
