@page
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<!--====== Page Banner Start ======-->

<section class="page-banner bg_cover" style="background-image: url(/assets/hinhanh/1920_715.png);">
	<div class="container">
		<div class="page-banner-content text-center">
			<h2 class="title">Register</h2>
			<ol class="breadcrumb justify-content-center">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item active">Register</li>
			</ol>
		</div>
	</div>
</section>

<!--====== Page Banner Ends ======-->
<!--====== Login Register Start ======-->

<section class="login-register-area pt-75 pb-80">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="login-register-content">
					<h4 class="title">Creat New Account</h4>

					<div class="login-register-form">
						<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
							<div asp-validation-summary="All" class="text-danger"></div>
							@* <div class="single-form d-flex justify-content-between">
								<label>Create Restaurant Account?</label>
								<div class="checkbox">
									<input asp-for="Input.IsRestaurantAccount" type="checkbox">
								</div>
							</div> *@
							<div class="single-form d-flex justify-content-between">
								<div class="checkbox">
									<input asp-for="Input.IsRestaurantAccount" type="checkbox">
									@Html.DisplayNameFor(m => m.Input.IsRestaurantAccount)
									<label asp-for="Input.IsRestaurantAccount"><span></span></label>
								</div>
							</div>
							<div class="single-form">
								<label>Email address *</label>
								<input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" type="email">
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
							<div class="single-form mt-0">
								<label>Password</label>
								<input asp-for="Input.Password" autocomplete="new-password" aria-required="true" placeholder="password" type="password">
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<div class="single-form mt-0">
								<label>ConfirmPassword</label>
								<input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" type="password">
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
							<div class="single-form mt-0">
								<button id="registerSubmit" type="submit" class="main-btn btn-block">Register</button>
							</div>
							<div class="single-form mt-0">
								<label>Already have an account?</label>
								<a asp-area="Identity" asp-page="/Account/Login" class="main-btn main-btn-2 btn-block">Log in instead!</a>
							</div>
						</form>
					</div>
					<div class="mt-4">
						@if ((Model.ExternalLogins?.Count ?? 0) == 0)
						{
						}
						else
						{
							<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
								<div>
									<p class="d-flex justify-content-center">or login with</p>
									<p class="d-flex justify-content-center">
										@foreach (var provider in Model.ExternalLogins!)
										{
											<button type="submit" class="btn @(provider.Name == "Facebook" ? "btn-facebook" : provider.Name == "Google" ? "btn-google" : "btn-primary")" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
												<i class="fab fa-@(provider.Name.ToLower())"></i>
											</button>
										}
									</p>
								</div>
							</form>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--====== Login Register Ends ======-->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
