@model RestaurantRaterBooking.Models.Restaurant

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Offer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Offer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OpeningHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClosingHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuitableFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuitableFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialFeature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialFeature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Space)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Space)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParkingSpace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParkingSpace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenChair)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenChair)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wifi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wifi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirConditioning)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirConditioning)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisaMasterCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisaMasterCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VATInvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VATInvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrivateRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrivateRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OutdoorTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OutdoorTable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChildrenPlayArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChildrenPlayArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SmokiingArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SmokiingArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Karaoke)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Karaoke)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projector)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projector)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnventDecoration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnventDecoration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
