@model IEnumerable<RestaurantRaterBooking.Models.Slider>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section head_scripts {
	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a class="nav-link"><i class="fas fa-angle-right"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="nav-link">Quản lý hệ thống</a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a class="nav-link"><i class="fas fa-angle-right"></i></a>
		</li>
		<li class="nav-item d-none d-sm-inline-block">
			<a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="nav-link">Sliders</a>
		</li>
	</ul>
}

<h1 class="text-center mb-2">Danh sách các banner</h1>

<p>
	<a class="btn btn-primary ml-3" href="#" id="create" data-toggle="modal" data-target="#createModal">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th class="text-center col-1">STT</th>
			<th class="col-3">
				Hình ảnh
			</th>
			<th class="col-4">
				Alias
			</th>
			<th class="col-2">
				Thành phố
			</th>
			<th class="col-2"></th>
		</tr>
	</thead>
	<tbody>
		@{
			int i = 1;
		}
		@foreach (var item in Model)
		{
			<tr>
				<th class="text-center">@i</th>
				<td>
					<img src="@item.Image" height="100" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Alias)
				</td>
				<td>
					@(item.City?.Name ?? "Tất cả")
				</td>
				<td class="text-center">
					<a class="btn btn-outline-danger deleteButton" href="#" data-toggle="modal" data-target="#deleteConfirmationModal" data-id="@item.Id">Delete</a>
				</td>
			</tr>
			i++;
		}
	</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Modal for create -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Create Slider</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="createForm" asp-action="Create" enctype="multipart/form-data">
					<div class="form-group">
						<label for="CoverImage" class="control-label">Hình ảnh</label>
						<div class="input-group">
							<input for="CoverImage" name="CoverImage" type="file" class="form-control" id="fileInput" style="display: none;" />
							<input type="text" class="form-control" readonly id="fileName" />
							<div class="input-group-append">
								<button type="button" class="btn btn-outline-secondary" onclick="document.getElementById('fileInput').click();">Chọn tệp</button>
							</div>
						</div>
						<div class="mt-2 justify-content-center">
							<img id="selectedImage" style="max-width: 30%;" />
						</div>
					</div>
					<div class="form-group">
						<label for="Alias" class="control-label">Alias</label>
						<input for="Alias" name="Alias" class="form-control" />
					</div>
					<div class="form-group">
						<label for="CityID" class="control-label">Thành phố</label>
						<select for="CityID" name="CityID" class="form-control" asp-items="ViewBag.CityID">
							<option value="">Tất cả</option>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" value="Create" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$("#createForm").submit(function (e) {
			e.preventDefault();

			var formData = new FormData($(this)[0]);

			$.ajax({
				type: 'POST',
				url: '@Url.Action("Create", "Sliders")',
				data: formData,
				processData: false,
				contentType: false,
				success: function (data) {
					$('#createModal').modal('hide');
					location.reload();
				},
				error: function (xhr, status, error) {
					console.error(xhr.responseText);
				}
			});
		});

		$("#fileInput").change(function () {
			displaySelectedImage();
		});

		function displaySelectedImage() {
			var input = document.getElementById('fileInput');
			var fileName = document.getElementById('fileName');
			var selectedImage = document.getElementById('selectedImage');

			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function (e) {
					selectedImage.src = e.target.result;
				};

				reader.readAsDataURL(input.files[0]);
				fileName.value = input.files[0].name;
			}
		}
	});
</script>

<!-- Modal for delete -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận xóa</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Bạn có chắc chắn muốn xóa slider này không?
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
				<button type="button" class="btn btn-danger" id="confirmDeleteButton">Xóa</button>
			</div>
		</div>
	</div>
</div>

<script>
	var sliderIdToDelete;

	$(document).ready(function () {
		// Hiển thị modal xóa nhà hàng
		$('.deleteButton').click(function () {
			sliderIdToDelete = $(this).data('id');
			$('#deleteConfirmationModal').modal('show');
		});

		// Xóa slider khi nhấn nút "Xóa" trên modal
		$('#confirmDeleteButton').click(function () {
			var url = '/Admin/Sliders/Delete/' + sliderIdToDelete;

			$.ajax({
				type: "POST",
				url: url,
				headers: {
					RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
				},
				success: function (data) {
					// Xử lý khi xóa thành công
					alert("Đã xóa thành công");
					location.reload();
				},
				error: function (data) {
					// Xử lý khi xóa thất bại
					alert("Xóa thất bại");
				}
			});
		});
	});
</script>
